* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

section {
  min-height: 100vh;
  padding: 100px;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.accordian {
  max-width: 700px;
  margin: auto;
}

.accordian_item {
  border: 1px solid;
  padding: 20px;
}

.accordian_title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
  font-size: 30px;
}

.accordian_title h3 {
  flex: 1;
}

.accordian_answer {
  display: none;
}

.accordian_title.active + .accordian_answer {
  display: block;
}

.accordian_title.active i {
  transform: rotate(180deg);
}
